.p-card-title {
    text-align: center;
}

.p-card, .p-splitter, .p-splitter-gutter {
    background-color: rgba(255, 255, 255, 0.5)
}

.p-splitter {
    border: 0px;
    border-radius: 0px;
}

.p-splitter-gutter {
    width: 0px !important;
}
