// https://codepen.io/IstiyakAmin/pen/aqZWWN


:root {
	--font-size: 7em;
}

@media only screen and (max-width: 960px) {
	:root {
		--font-size: 40px;
	}
}

.loader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@keyframes animate {
	80% {
		transform: scale(1);
		font-size: var(--font-size);
	}
	100% {
		transform: translateX(410%) scale(100);
		font-size: 10em;
	}
}


h1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.text {
	text-transform: uppercase;
	user-select: none;
	font-size: var(--font-size);
}

.animate {
	animation: animate 5s linear forwards;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.mix-blend-mode {
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.multiply,
.screen,
.overlay,
.difference {
	background: #000;
}
