.layout-topbar {
    position: fixed;
    height: 5rem;
    left: 0px;
    top: -5rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    animation: animate 0.5s ease-out forwards;
}

@keyframes animate {
    100% {
        top: 0px;
    }
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25) inset;
    opacity: 0.9;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: right;
}