.multiply {
	mix-blend-mode: multiply;
}

.screen {
	mix-blend-mode: screen;
}

.overlay {
	mix-blend-mode: overlay;
}

.difference {
	mix-blend-mode: difference;
}

.position-absolute {
	position: absolute;
}

.top-0 {
	top: 0px;
}

.left-0 {
	left: 0px;
}