/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./classes.scss";

:root {
    --gradient-color-1: #4A4E4D;
    --gradient-color-2: #0E9AA7;
    --gradient-color-3: #F6CD61;
    --gradient-color-4: #3DA4AB;
}

#tsparticles {
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
}

#gradient-colors-picker {
    width: 50%;
    height: 20%;
}